{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 60,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"svelteBracketNewLine": false
}
